body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
  margin-top: 60px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.sos {
  background: red;
  color: white;
  font-size: 18px;
}
